@page
@model DreamWedds.Client.AdminApp.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>MetaTags</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MetaTags.Name" class="control-label"></label>
                <input asp-for="MetaTags.Name" class="form-control" />
                <span asp-validation-for="MetaTags.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaTags.Property" class="control-label"></label>
                <input asp-for="MetaTags.Property" class="form-control" />
                <span asp-validation-for="MetaTags.Property" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaTags.TagPrefix" class="control-label"></label>
                <input asp-for="MetaTags.TagPrefix" class="form-control" />
                <span asp-validation-for="MetaTags.TagPrefix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaTags.Content" class="control-label"></label>
                <input asp-for="MetaTags.Content" class="form-control" />
                <span asp-validation-for="MetaTags.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaTags.PageName" class="control-label"></label>
                <input asp-for="MetaTags.PageName" class="form-control" />
                <span asp-validation-for="MetaTags.PageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaTags.PageTitle" class="control-label"></label>
                <input asp-for="MetaTags.PageTitle" class="form-control" />
                <span asp-validation-for="MetaTags.PageTitle" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MetaTags.IsImage" /> 
                    @Html.DisplayNameFor(model => model.MetaTags.IsImage)
                </label>
                <button class="btn btn-sm btn-outline-primary " id="addbutton">
                    <span class="fa  fa-plus mr-1"></span>
                    Add Image
                </button>
                <div class="modal fade" id="document_modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><i class="fa fa-times"></i></span>
                                </button>
                            </div>
                            <form id="document_form" class="needs-validation" novalidate="novalidate">
                                <div class="modal-body">
                                    @Html.AntiForgeryToken()
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <label class="form-label" for="Title">Title<span class="text-danger">*</span></label>
                                            <input type="text" asp-for="Input.Name" class="form-control" placeholder="Title" />
                                            <span class="invalid-feedback" asp-validation-for="Input.Name">Sorry, you missed this one.</span>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="form-label" for="IsPublic"> </label>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" asp-for="Input.IsImage" class="custom-control-input" value="true">
                                                <label class="custom-control-label" for="Input_IsPublic">Is Public"]</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="form-label" for=""></label>

                                            <input type="file" asp-for="UploadedFile" style="display:none" required />
                                            <div class="">
                                                <button name="uploadbutton" type="button" class="btn btn-primary btn-icon waves-effect waves-themed mr-2">
                                                    <i class="fal fa-paperclip"></i>
                                                </button><span class="text-danger">*</span>
                                                <div id="uploadfilename">
                                                    <div class="alert alert-danger mt-2 mb-2" role="alert">
                                                        <i class="fal fa-exclamation-triangle mr-2"></i>   Please upload a file"].
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close"]</button>
                                    <button type="submit" name="savebutton" class="btn btn-primary">Save"]</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MetaTags.Type" class="control-label"></label>
                <input asp-for="MetaTags.Type" class="form-control" />
                <span asp-validation-for="MetaTags.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaTags.TypeId" class="control-label"></label>
                <input asp-for="MetaTags.TypeId" class="form-control" />
                <span asp-validation-for="MetaTags.TypeId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="MetaTags.Id" />
            <div class="form-group">
                <label asp-for="MetaTags.CreatedBy" class="control-label"></label>
                <input asp-for="MetaTags.CreatedBy" class="form-control" />
                <span asp-validation-for="MetaTags.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaTags.CreatedOn" class="control-label"></label>
                <input asp-for="MetaTags.CreatedOn" class="form-control" />
                <span asp-validation-for="MetaTags.CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaTags.LastModifiedBy" class="control-label"></label>
                <input asp-for="MetaTags.LastModifiedBy" class="form-control" />
                <span asp-validation-for="MetaTags.LastModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaTags.LastModifiedOn" class="control-label"></label>
                <input asp-for="MetaTags.LastModifiedOn" class="form-control" />
                <span asp-validation-for="MetaTags.LastModifiedOn" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MetaTags.IsDeleted" /> @Html.DisplayNameFor(model => model.MetaTags.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript" src="~/lib/easyui/jquery.easyui.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/easyui/plugins/datagrid-filter.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/easyui/jquery.easyui.component.js" asp-append-version="true"></script>

    <script>jQuery.fn.tooltip = bootstrapTooltip;</script>
    <script src="~/lib/axios/dist/axios.js"></script>
    <script src="~/lib/jquery-form/jquery.jsonToForm.js"></script>

    <script type="text/javascript">
        $('#addbutton').click(function () {
            popupmodal(document);
        });

        $('#document_form :submit').click(function (e) {
            var form = document.querySelector('#document_form');
            if ($(form).valid() === false) {
                form.classList.add('was-validated');
            } else {
                event.preventDefault();
                event.stopPropagation();
                var request = $('#document_form').serialize();
                var formData = new FormData(form);
                formData.append("UploadedFile", uploadfileinput.files[0]);
                axios({
                    url: '@Url.Page("/Documents/Index")',
                    method: 'post',
                    data: formData,
                    processData: false,// 告诉axios不要去处理发送的数据(重要参数)
                    contentType: false,   // 告诉axios不要去设置Content-Type请求头
                }).then((response) => {
                        alert("Response Received: ", + response);
                        $('#document_modal').modal('toggle');
                        reloadData();
                }).catch(error => {
                    if (error.response.data.errors) {
                        const errors = error.response.data.errors;
                        for (let [key, value] of Object.entries(errors)) {
                            toastr["error"](`${key}: ${value.toString()}`);
                        }

                    } else {
                        console.log(error.response.data);
                    }
                })

            }
            event.preventDefault();
            event.stopPropagation();
        })
        var uploadfilename = document.querySelector("#uploadfilename");
        var uploadbutton = document.querySelector("button[name='uploadbutton']");
        var uploadfileinput = document.getElementById("UploadedFile");
        var savebutton = document.querySelector("button[name='savebutton']");
        uploadbutton.addEventListener('click', (e) => {
            uploadfileinput.click();
        })
        uploadfileinput.onchange = () => {
            fileName = uploadfileinput.value.split('\\').pop();
            uploadfilename.innerHTML = `
              <div class="alert alert-info alert-dismissible fadeup show mb-2 mt-2" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                         <span aria-hidden="true"><i class=" fa-times"></i></span>
                      </button>
                      <div class="d-flex align-items-center">
							<div class="alert-icon">
									<i class="fa-upload fs-xl"></i>
							</div>
							<div class="flex-1">
	    							${fileName}
							</div>
					</div>
             </div>
        `
            savebutton.disabled = false;
            $('#uploadfilename .alert').on('closed.bs.alert', (e) => {
                uploadfileinput.value = null;
                savebutton.disabled = true;
            })
        };
        var $dg={};

        var popupmodal = (document) => {
            $('#document_modal').modal('toggle');
            $('#document_modal .modal-title').html('Add image');
            //$('#document_form').clearForm();
            //$('#document_form')[0].reset();
            if (document) {
                uploadbutton.disabled = true;
                uploadfileinput.required = false;
                $('#document_modal .modal-title').html('Edit Document');
                uploadfilename.innerHTML = `
                  <div class="alert alert-info alert-dismissible fadeup show mb-2 mt-2" role="alert">
                         <div class="d-flex align-items-center">
							<div class="alert-icon">
									<i class="fa fa-upload fs-xl"></i>
							</div>
							<div class="flex-1">
	    							${document.URL}
							</div>
					</div>
                </div>
                `
                $('#document_form').jsonToForm(document, {
                    IsPublic: function (value) {
                        if (value == true) {
                            $('#document_form [name*="IsPublic"]').prop('checked', true);
                        } else {
                            $('#document_form [name*="IsPublic"]').prop('checked', false);
                        }
                    }
                })
            } else {
                uploadbutton.disabled = false;
                uploadfileinput.required = true;
                uploadfilename.innerHTML =`<div class="alert alert-danger mt-2 mb-2" role="alert">
                                        <i class="fal fa-exclamation-triangle mr-2"></i> Please upload a file.
                             </div>`
            }
        }

        var onEdit = (index) => {
            var document = $dg.datagrid('getRows')[index];
            popupmodal(document);
        }

    </script>
}
