<meta charset="utf-8">
<title>
    @if (ViewBag.Title?.Length > 0)
    {
        <text>@ViewData["Title"] @(ViewData["Category1"] != null ? (" - " + ViewData["Category1"]) : "") - | DreamWedds App</text>
    }
    else
    {

    }
</title>

<base href="~/" />
<meta name="description" content="@ViewBag.Title">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="msapplication-tap-highlight" content="no">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<!-- Icons -->
<link href="~/assets/css/nucleo-icons.css" rel="stylesheet" />
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<!-- Theme CSS -->
<link type="text/css" href="~/assets/css/soft-design-system-pro.min.css" rel="stylesheet">
<link id="vendorsbundle" rel="stylesheet" media="screen, print" href="~/">
<partial name="_Favicon" />
 @Html.Raw(ViewData["LoadMetaTag"])
