<!-- -------- START HEADER 10 w/ carousel ------- -->
<header>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="page-header min-vh-85"
                    style="background-image: url(/assets/templates/wedding/bashori/images/banner.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 my-auto">
                                <h1 class="text-gradient text-primary mb-0 fadeIn1 fadeInBottom">Traditional Weddings</h1>
                                <h3 class="text-black fadeIn2 fadeInBottom">Show Your Traditions to the World </h3>
                                <div class="buttons" style="margin-left:150px">
                                    <a href="assets/templates/wedding/bashori/index.html" target="_blank"
                                        class="btn bg-gradient-warning mt-4"><i class="fa fa-camera fw"> </i> Live
                                        Demo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="page-header min-vh-85"
                    style="background-image: url(assets/templates/wedding/love-birds/images/banner.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 my-auto">
                                <h1 class="text-gradient text-warning mb-0 fadeIn1 fadeInBottom">Flaunt Your Wedding
                                </h1>
                                <h3 class="text-black fadeIn2 fadeInBottom">Show how much you love her. Flaunt this
                                    impressive wedding theme!</h3>
                                <div class="buttons" style="margin-left:150px">
                                    <a href="assets/Templates/Wedding/love-birds/index.html" target="_blank"
                                        class="btn bg-gradient-warning mt-4"><i class="fa fa-camera fw"> </i> Live
                                        Demo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item">
                <div class="page-header min-vh-85"
                    style="background-image: url(assets/Templates/Wedding/Glenz/images/banner.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 my-auto">
                                <h1 class="text-gradient text-primary mb-0 fadeIn1 fadeInBottom">PREMIUM FEATURES</h1>
                                <h3 class="text-white fadeIn2 fadeInBottom">Couple Story, Gallary, Events, RSVP and Many More</h3>
                                <div class="buttons" style="margin-left:150px">
                                    <a href="assets/templates/Wedding/BellePro/index.html" target="_blank"
                                        class="btn bg-gradient-primary mt-4"><i class="fa fa-camera fw"> &nbsp;</i> Live
                                        Demo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="page-header min-vh-85"
                    style="background-image: url(assets/Templates/Wedding/belle/images/banner.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 my-auto">
                                <h1 class="text-gradient text-primary mb-0 fadeIn1 fadeInBottom">Love Marriage?</h1>
                                <h3 class="text-white fadeIn2 fadeInBottom">Flaunt your love timeline to the world.</h3>
                                <div class="buttons" style="margin-left:150px">
                                    <a href="assets/templates/Wedding/belle/index.html" target="_blank"
                                        class="btn bg-gradient-primary mt-4"><i class="fa fa-camera fw"> </i> Live
                                        Demo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="position-absolute w-100 z-index-1 bottom-0">
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                        <path id="gentle-wave"
                            d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="moving-waves">
                        <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
                        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
                        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
                        <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
                        <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
                        <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,1" />
                    </g>
                </svg>
            </div>
        </div>
        <div class="min-vh-75 position-absolute w-100 top-0">
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon position-absolute bottom-50 ms-n7" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon position-absolute bottom-50 me-n7" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
</header>
<!-- -------- END HEADER 11 w/ carousel ------- -->