<!-- -------- START HEADER 10 w/ floating img and bg  ------- -->
<header class="position-relative">
    <div class="page-header min-vh-75 position-relative pt-5"
        style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/nightsky.jpg');">
        <span class="mask bg-gradient-dark"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center mx-auto mt-md-n7">
                    <h4 class="text-gradient text-primary fadeIn1 fadeInBottom">You ARE AT RIGHT PLACE</h4>
                    <h1 class="text-white fadeIn2 fadeInBottom">Welcome to the World Of Dreams</h1>
                    <p class="lead mb-5 fadeIn3 fadeInBottom text-white opacity-6">We are always here to help you in
                        making your presence global. Lets make everyone feel awww!</p>
                    <a type="submit" href="https://www.facebook.com/dreamwedds" class="btn bg-white btn-icon-only rounded-circle fadeIn1 fadeInBottom"><i
                            class="fa fa-facebook"></i></a>
                    <a type="submit" href="https://twitter.com/thedreamwedds" class="btn bg-white btn-icon-only rounded-circle fadeIn1 fadeInBottom"><i
                            class="fa fa-twitter"></i></a>
                    <a type="submit" href="https://www.instagram.com/dreamwedds" class="btn bg-white btn-icon-only rounded-circle fadeIn1 fadeInBottom"><i
                            class="fa fa-instagram" ></i></a>
                    <a type="submit" href="https://www.linkedin.com/dreamwedds" class="btn bg-white btn-icon-only rounded-circle fadeIn1 fadeInBottom"><i
                            class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <img src="../assets/img/illustrations/man-rocket.png"
            class="rellax position-absolute floating-man ms-7 fadeIn1 fadeInBottom mt-n10 d-none d-sm-none d-md-none d-lg-block"
            data-rellax-speed="-4" alt="">
        <img src="../assets/img/illustrations/man-cloud.png"
            class="rellax position-absolute floating-man end-0 fadeIn3 fadeInBottom me-8 mt-10 d-none d-sm-none d-md-none d-lg-block z-index-2"
            data-rellax-speed="7" alt="">
        <div class="position-absolute w-100 z-index-1 bottom-0">
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave"
                        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="moving-waves">
                    <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
                    <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
                    <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
                    <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,1" />
                </g>
            </svg>
        </div>
    </div>
</header>
<!-- -------- END HEADER 10 w/ floating img and bg  ------- -->
