@page
@model DreamWedds.Client.WebApp.Pages.AboutUsModel
@{
}

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <h2 class="text-gradient text-primary mb-0">What random people</h2>
        <h2 class="mb-3">Think about us</h2>
        <p>That’s the main thing people are controlled by! Thoughts- their perception of themselves! </p>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-lg-4 col-md-8">
        <div class="card card-plain">
          <div class="card-body">
            <div class="author">
              <img src="../../assets/img/team-3.jpg" alt="..." class="avatar shadow">
              <div class="name ps-2">
                <span>Mathew Glock</span>
                <div class="stats">
                  <small><i class="far fa-clock"></i> 5 min read</small>
                </div>
              </div>
            </div>
            <p class="mt-4">"If you have the opportunity to play this game of life you need to appreciate every moment."</p>
            <div class="rating mt-3">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 ms-md-auto">
        <div class="card bg-gradient-primary">
          <div class="card-body">
            <div class="author align-items-center">
              <img src="../../assets/img/marie.jpg" alt="..." class="avatar shadow">
              <div class="name ps-2">
                <span class="text-white">Mathew Glock</span>
                <div class="stats">
                  <small class="text-white">Posted on 28 February</small>
                </div>
              </div>
            </div>
            <p class="mt-4 text-white">"If you have the opportunity to play this game of life you need to appreciate every moment."</p>
            <div class="rating mt-3">
              <i class="fas fa-star text-white"></i>
              <i class="fas fa-star text-white"></i>
              <i class="fas fa-star text-white"></i>
              <i class="far fa-star text-white"></i>
              <i class="far fa-star text-white"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8">
        <div class="card card-plain">
          <div class="card-body">
            <div class="author">
              <img src="../../assets/img/team-2.jpg" alt="..." class="avatar shadow">
              <div class="name ps-2">
                <span>Mathew Glock</span>
                <div class="stats">
                  <small><i class="far fa-clock"></i> 5 min read</small>
                </div>
              </div>
            </div>
            <p class="mt-4">"If you have the opportunity to play this game of life you need to appreciate every moment."</p>
            <div class="rating mt-3">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="horizontal dark my-5">
    <div class="row">
      <div class="col-lg-2 col-6">
        <img class="w-100 opacity-6" src="../../assets/img/logos/gray-logos/logo-apple.svg" alt="Logo">
      </div>
      <div class="col-lg-2 col-6">
        <img class="w-100 opacity-6" src="../../assets/img/logos/gray-logos/logo-facebook.svg" alt="Logo">
      </div>
      <div class="col-lg-2 col-6">
        <img class="w-100 opacity-6" src="../../assets/img/logos/gray-logos/logo-behance.svg" alt="Logo">
      </div>
      <div class="col-lg-2 col-6">
        <img class="w-100 opacity-6" src="../../assets/img/logos/gray-logos/logo-spotify.svg" alt="Logo">
      </div>
      <div class="col-lg-2 col-6">
        <img class="w-100 opacity-6" src="../../assets/img/logos/gray-logos/logo-coinbase.svg" alt="Logo">
      </div>
      <div class="col-lg-2 col-6">
        <img class="w-100 opacity-6" src="../../assets/img/logos/gray-logos/logo-pinterest.svg" alt="Logo">
      </div>
    </div>
  </div>
</section>
