@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<partial name="_PageBanner" />
<partial name="_Home_QuickBlogs" />
<!-- START Testimonials w/ user image & text & info -->
<section class="bg-gradient-primary position-relative overflow-hidden">
    <img src="../../assets/img/shapes/waves-white.svg" alt="pattern-lines" class="position-absolute opacity-6">
    <div class="position-absolute w-100 z-inde-1 top-0 mt-n3">
        <svg width="100%" viewBox="0 -2 1920 157" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>wave-down</title>
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g fill="#FFFFFF" fill-rule="nonzero">
                    <g id="wave-down">
                        <path d="M0,60.8320331 C299.333333,115.127115 618.333333,111.165365 959,47.8320321 C1299.66667,-15.5013009 1620.66667,-15.2062179 1920,47.8320331 L1920,156.389409 L0,156.389409 L0,60.8320331 Z" id="Path-Copy-2" transform="translate(960.000000, 78.416017) rotate(180.000000) translate(-960.000000, -78.416017) "></path>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    <div class="container pt-5 pb-7">
        <div class="row">
            <div class="col-lg-6 d-flex justify-content-center flex-column">
                <div id="carouselExampleIndicator" class="carousel slide py-7" data-bs-ride="carousel">
                    <ol class="carousel-indicators justify-content-start ms-0">
                        <a href="javascript:;">
                            <img src="../../assets/img/team-4.jpg" alt="..." class="avatar avatar-sm avatar-scale-up shadow border-0 active" data-bs-target="#carouselExampleIndicator" data-bs-slide-to="0">
                            <span class="text-white mx-2">&#124;</span>
                        </a>

                        <a href="javascript:;">
                            <img src="../../assets/img/team-3.jpg" alt="..." class="avatar avatar-sm avatar-scale-up shadow border-0" data-bs-target="#carouselExampleIndicator" data-bs-slide-to="1">  <span class="text-white mx-2">&#124;</span>
                        </a>

                        <a href="javascript:;">
                            <img src="../../assets/img/team-2.jpg" alt="..." class="avatar avatar-sm avatar-scale-up shadow border-0" data-bs-target="#carouselExampleIndicator" data-bs-slide-to="2">
                        </a>
                    </ol>
                    <div class="carousel-inner">
                        <h2 class="text-white mb-0">Work with us</h2>
                        <p class="text-white opacity-8 mb-1">Whatever your qualification is - we got you!</p>
                        <hr class="text-white horizontal opacity-6 mb-4 mt-2 w-25 text-start">
                        <div class="carousel-item active">
                            <h6 class="text-white opacity-8 pe-5">
                                "Take up one idea. Make that one idea your life - think of it, dream of it, live on that idea.
                                Let the brain, muscles, nerves, every part of your body, be full of that idea, and just leave every other idea alone.
                                This is the way to success. A single rose can be my garden... a single friend, my world."
                            </h6>
                            <div class="author mt-4">
                                <div class="name">
                                    <span class="text-white">Ludwig Siato</span>
                                    <div class="stats">
                                        <small class="text-white opacity-6">Project manager, Apple</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <h6 class="text-white opacity-8 pe-5">
                                "Take up one idea. Make that one idea your life - think of it, dream of it, live on that idea.
                                Let the brain, muscles, nerves, every part of your body, be full of that idea, and just leave every other idea alone.
                                This is the way to success. A single rose can be my garden... a single friend, my world."
                            </h6>
                            <div class="author mt-4">
                                <div class="name">
                                    <span class="text-white">John Down</span>
                                    <div class="stats">
                                        <small class="text-white opacity-6">CFO, Google</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <h6 class="text-white opacity-8 pe-5">
                                "Take up one idea. Make that one idea your life - think of it, dream of it, live on that idea.
                                Let the brain, muscles, nerves, every part of your body, be full of that idea, and just leave every other idea alone.
                                This is the way to success. A single rose can be my garden... a single friend, my world."
                            </h6>
                            <div class="author mt-4">
                                <div class="name">
                                    <span class="text-white">Mark Jojansen</span>
                                    <div class="stats">
                                        <small class="text-white opacity-6">Fullstack Developer, Atlassian</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 justify-content-center flex-column d-sm-none d-md-none d-lg-flex d-xl-flex">
                <div class="row justify-content-center d-none d-md-flex">
                    <div class="col-3 mb-4">
                        <div class="d-block bg-white avatar avatar-lg rounded-circle p-3 mt-n4 ms-8 fadeIn2 fadeInBottom">
                            <img src="../../assets/img/logos/small-logos/logo-asana.svg" alt="Logo Image">
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <div class="d-block bg-white avatar avatar-lg rounded-circle p-3 ms-8 mt-n6 fadeIn1 fadeInBottom">
                            <img src="../../assets/img/logos/small-logos/logo-slack.svg" alt="Logo Image">
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <div class="d-block bg-white avatar avatar-lg rounded-circle p-3 ms-6 mt-2 fadeIn3 fadeInBottom">
                            <img src="../../assets/img/logos/small-logos/logo-google-drive.svg" alt="Logo Image">
                        </div>
                    </div>
                </div>

                <div class="row justify-content-end d-none d-md-flex">
                    <div class="col-4 my-4">
                        <div class="d-block bg-white avatar avatar-lg rounded-circle p-3 ms-4 fadeIn1 fadeInBottom">
                            <img class="avatar-img" src="../../assets/img/logos/small-logos/logo-shopify.svg" alt="Logo Image">
                        </div>
                    </div>
                    <div class="col-3 my-4">
                        <div class="d-block bg-white avatar avatar-lg rounded-circle p-3 me-auto fadeIn1 fadeInBottom">
                            <img class="avatar-img" src="../../assets/img/logos/small-logos/logo-apple.svg" alt="Logo Image">
                        </div>
                    </div>
                    <div class="col-3 my-4">
                        <div class="d-block bg-white avatar avatar-lg rounded-circle p-3 fadeIn3 fadeInBottom ms-3 mt-3">
                            <img class="avatar-img" src="../../assets/img/logos/small-logos/logo-invision.svg" alt="Logo Image">
                        </div>
                    </div>
                </div>

                <div class="row d-none d-md-flex">
                    <div class="col-6">
                        <!-- Logo -->
                        <div class="d-block bg-white avatar avatar-lg rounded-circle p-3 ms-auto mt-5 fadeIn2 fadeInBottom">
                            <img class="avatar-img" src="../../assets/img/logos/small-logos/logo-atlassian.svg" alt="Logo Image">
                        </div>
                        <!-- End Logo -->
                    </div>
                    <div class="col-6 mt-6">
                        <!-- Logo -->
                        <div class="d-block bg-white avatar avatar-lg rounded-circle p-3 mx-auto mt-n3 fadeIn3 fadeInBottom">
                            <img class="avatar-img" src="../../assets/img/logos/small-logos/logo-weave.svg" alt="Logo Image">
                        </div>
                        <!-- End Logo -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="position-absolute w-100 bottom-0">
        <svg width="100%" viewBox="0 -1 1920 166" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>wave-up</title>
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(0.000000, 5.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g id="wave-up" transform="translate(0.000000, -5.000000)">
                        <path d="M0,70 C298.666667,105.333333 618.666667,95 960,39 C1301.33333,-17 1621.33333,-11.3333333 1920,56 L1920,165 L0,165 L0,70 Z"></path>
                    </g>
                </g>
            </g>
        </svg>
    </div>
</section>
<!-- END Testimonials w/ user image & text & info -->
<!-- -------- START Features w/ icons and text on left & gradient title and text on right -------- -->
<section class="py-9">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="text-gradient text-primary mb-0 mt-2">Read More About Us</h3>
                <h3>The most important</h3>
                <p>Pain is what we go through as we become older. We get insulted by others, lose trust for those others. We get back stabbed by friends. It becomes harder for us to give others a hand.</p>
                <a href="javascript:;" class="text-primary icon-move-right">
                    More about us
                    <i class="fas fa-arrow-right text-sm ms-1"></i>
                </a>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
                <div class="p-3 info-horizontal">
                    <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                        <i class="fas fa-ship opacity-10"></i>
                    </div>
                    <div class="description ps-3">
                        <p class="mb-0">It becomes harder for us to give others a hand. <br> We get our heart broken by people we love.</p>
                    </div>
                </div>

                <div class="p-3 info-horizontal">
                    <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                        <i class="fas fa-handshake opacity-10"></i>
                    </div>
                    <div class="description ps-3">
                        <p class="mb-0">As we live, our hearts turn colder. <br>Cause pain is what we go through as we become older.</p>
                    </div>
                </div>
                <div class="p-3 info-horizontal">
                    <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                        <i class="fas fa-hourglass opacity-10"></i>
                    </div>
                    <div class="description ps-3">
                        <p class="mb-0">When we lose family over time. <br> What else could rust the heart more over time? Blackgold.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- -------- END Features w/ icons and text on left & gradient title and text on right -------- -->
<partial name="_Home.Content" />


@section Scripts{
<!-- Mandatory init script -->
<script>

</script>
}