/**
********************************************
************* 23.Explore
********************************************
*/
.lv-explore-vision {
	&-box {
		&-content {
			&-1-1 {
				padding: 33px 0;
			}
		}
		&-img {
			&-1-1 {
			    height: 240px;
			}
		}
		&-title {
			&-1-1 {
			    font-size: 22px;
		        margin-bottom: 17px;
			}
		}
	}
}
