
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@200;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="js/lightbox2-2.11.3/dist/css/lightbox.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Wedding Brunch - FairyTheme Wedding Template</title>
</head>
<body>
    <header class="header">
        <div class="container-xxl">
            <section class="header_block d-flex justify-content-between align-items-center">
                    <div class="logo_block">
                        <a class="navbar-brand" href="#">
                            <span class="title">Brunch</span>
                            <img src="images/logo.svg" alt="Logo" width="40" height="36" class="d-inline-block align-text-top">
                        </a>
                    </div>
                    <nav class="navbar navbar-expand-md text-white">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="flower_menu"><img src="images/main/flower_small.svg" alt="flower_small"></li>
                            <li class="nav-item me-3">
                                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="#about">About</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="#when_where">When & Where</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="#">Wishlist</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="index.html#gallery">Gallery</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="#rsvp">RSVP</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </section>
            <section class="header_title">
                <h1 class="title main_title">Olivia & Ruslan</h1>
                <div class="wrapper mt-5">
                    <div class="countdown" data-date="12-6-2023" data-time="09:00">
                      <div class="day"><span class="num"></span><span class="word"></span></div>
                      <img src="images/timer.svg" alt="timer">
                      <div class="hour"><span class="num"></span><span class="word"></span></div>
                      <img src="images/timer.svg" alt="timer">
                      <div class="min"><span class="num"></span><span class="word"></span></div>
                      <img src="images/timer.svg" alt="timer">
                      <div class="sec"><span class="num"></span><span class="word"></span></div>
                    </div>
                </div>
            </section>
        </div>
    </header>
    <main>
        <section class="section_video" id="about">
            <div class="container-xl pe-4 ps-4">
                <div class="video_block flower row d-flex align-items-center">
                    <div class="col-12 col-md-6">
                        <h2 class="title_section mb-2 w-100">Are getting married</h2>
                        <p class="data_text_video">on 14 February, 2023 — Bali, Indonesia</p>
                        <p class="border-bottom_main"></p>
                        <p class="main_text">We would be honored if you could join us on this special day as we start our new life together. Please let me know if you are able to attend and if you have any dietary restrictions. I look forward to celebrating with you.</p>
                    </div>
                    <div class="col-12 col-md-6 d-flex justify-content-around pe-md-5">
                        <div class="video_play w-90">
                            <img src="images/main/Video.jpg" alt="Video" class="video">
                            <button type="button" class="play" data-bs-toggle="modal" data-bs-target="#modal_video">
                                <img src="images/main/Icon_play.svg" alt="play" class="play" data-toggle="modal">
                            </button>
                        </div>
                        <p class="vertical-text w-10 m-0 pt-4"><span class="text_mod">OUR </span>Video invitation</p>
                    </div>
                    <div class="modal fade" id="modal_video" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <iframe width="100%" height="515" src="https://www.youtube.com/embed/cgOmCTx6LZ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="when_where ind_top ind_bottom" id="when_where">
            <div class="container-xl">
                <p class="data_text text-center mb-0">Now you know</p>
                <h2 class="title_section _fl text-center title_marg w-100">When & Where</h2>
                <div class="when_where_cards row row-cols-2">
                    <div class="col-12 col-md-6 mb-2 p-0">
                        <div class="col-12 col-md-12 mb-3">
                            <div class="col-12 col-md-12 card pb-3 pt-2 border border-0 rounded-0" style="width: 100%;">
                                <div class="card-body">
                                  <h6 class="card-subtitle text-muted title_card_1 m-0">CEREMONY LOCATION</h6>
                                  <h5 class="card-title title_card_2">St. Bartholomew's Church</h5>
                                  <p class="border-bottom_main"></p>
                                  <p class="card-text m-0 text_card">Address: 325 Park Ave, New York</p>
                                  <p class="card-text m-0 text_card">7:00pm - Ceremony begins</p>
                                  <p class="card-text mb-2 text_card">7:30pm - Ceremony ends and newlyweds exit to cocktail hour.</p>
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-md-12 mb-3">
                            <div class="card border border-0" style="width: 100%;">
                                <img src="images/main/left_1.jpg"  alt="card">
                            </div>
                        </div>
                        <div class="col-12 col-md-12 mb-3">
                            <div class="card border border-0" style="width: 100%;">
                                <img src="images/main/left_2.jpg" alt="card">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="col-md-6 card mb-3 border border-0 card_mod">
                            <img src="images/main/right.jpg" alt="card">
                        </div>
                        <div class="col-12 col-md-6 card pt-2 border border-0 rounded-0 card_mod">
                            <div class="card-body">
                              <h6 class="card-subtitle mb-2 text-muted title_card_1">PARTY LOCATION</h6>
                              <h5 class="card-title title_card_2">The Edison Ballroom</h5>
                              <p class="border-bottom_main"></p>
                              <p class="card-text m-0 text_card">Address: 240 W 47th St, New York</p>
                              <p class="card-text m-0 text_card">8:00pm - Cocktail hour begins. </p>
                              <p class="card-text mb-3 text_card">9:00pm - Reception begins (dinner, dancing, speeches) </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="colors ind_top">
            <div class="container-xl">
                <p class="data_text text-center mb-0">Wedding color</p>
                <h2 class="title_section _fl text-center mb-5">Dress code - Turquoisw</h2>
                <div class="colors_block row">
                    <div class="col-md-2 colors_flower">
                        <img src="images/main/left_color.svg" alt="flower">
                    </div>
                    <div class="col-12 col-md-6 d-flex align-items-center justify-content-evenly">
                        <div class="col-2">
                            <svg id="color_1" width="100%" height="100%" viewBox="0 0 85 85" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle r="42.5" transform="matrix(1 0 0 -1 42.5 42.5)"/>
                            </svg>
                        </div>
                        <div class="col-2">
                            <svg id="color_2" width="100%" height="100%" viewBox="0 0 85 85" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle r="42.5" transform="matrix(1 0 0 -1 42.5 42.5)" />
                            </svg>
                        </div>
                        <div class="col-2">
                            <svg id="color_3" width="100%" height="100%" viewBox="0 0 85 85" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle r="42.5" transform="matrix(1 0 0 -1 42.5 42.5)"/>
                            </svg>
                        </div>
                        <div class="col-2">
                            <svg id="color_4" width="100%" height="100%" viewBox="0 0 85 85" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle r="42.5" transform="matrix(1 0 0 -1 42.5 42.5)"/>
                            </svg>
                        </div>
                        <div class="col-2">
                            <svg id="color_5" width="100%" height="100%" viewBox="0 0 85 85" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle r="42.5" transform="matrix(1 0 0 -1 42.5 42.5)"/>
                            </svg>
                        </div>
                    </div>
                    <div class="col-md-2 colors_flower">
                        <img src="images/main/right_color.svg" alt="flower">
                    </div>
                </div>
            </div>
        </section>
        <section class="people pt-5 ind_bottom">
            <div class="container-xl">
                <p class="data_text text-center mb-0">Meet us</p>
                <h2 class="title_section _fl text-center title_marg_people">Bridesmaid & Groomsmen</h2>
                <div class="people_block row d-flex justify-content-center">
                    <div class="people_img d-flex col-12 col-md-6 gap-2">
                        <div class="bridesmaid_img d-flex col-6 justify-content-center">
                            <p class="vertical_name m-0 pt-5">Elena Brown</p>
                            <img class="bridesmaid" src="images/main/people/person.jpg" alt="bridesmaid">
                        </div>
                        <div class="groomsmen_img d-flex col-6 justify-content-center">
                            <p class="vertical_name m-0 pt-3">Den Klinton</p>
                            <img src="images/main/people/person_2.jpg" alt="groomsmen">
                        </div>
                    </div>
                    <div class="people_img _place_1 d-flex col-12 col-md-6 gap-2">
                        <div class="bridesmaid_img _place_1 d-flex col-6 justify-content-center">
                            <p class="vertical_name m-0 pt-3 pt-md-5">Mariya Clark</p>
                            <img class="bridesmaid _size" src="images/main/people/person_3.jpg" alt="bridesmaid">
                        </div>
                        <div class="groomsmen_img _place_2 d-flex col-6 justify-content-center">
                            <p class="vertical_name m-0 pt-3">Oliver Twist</p>
                            <img src="images/main/people/person_4.jpg" alt="groomsmen">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="wedding_host int_host">
            <div class="container-xl">
                <div class="wedding_host_block d-flex align-items-center row">
                    <div class="wedding_host_photo col-12 col-lg-6">
                        <img class="host_img" src="images/main/people/flowers_people.svg" alt="flowers">
                        <img class="host_img_abs rounded-circle" src="images/main/people/host.jpg" alt="host">
                    </div>
                    <div class="wedding_host_about col-12 col-lg-6">
                        <h2 class="title_section _fl mb-2">Wedding host</h2>
                        <p class="data_text _name">Olivia Jonson</p>
                        <p class="host_text mb-2">She always goes above and beyond to make those around her feel loved and supported.</p>
                        <div class="wedding_host_link">
                            <a href=""><img src="images/main/people/instagram.svg" alt="instagram" class="me-3"></a>
                            <a href=""><img src="images/main/people/facebook.svg" alt="facebook" class="me-3"></a>
                            <a href=""><img src="images/main/people/youtube.svg" alt="youtube" class="me-3"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="gallery text-center ind_top_mod ind_bottom" id="gallery">
            <div class="container-xl">
                <p class="data_text text-center mb-0">Wedding spesial images</p>
                <h2 class="title_section _fl text-center title_marg_gal">Our best captured moments</h2>
                <div class="gallery_block row row-cols-2">
                    <div class="col-4 mb-4">
                        <a href="images/main/wedding_photo/Img_Bike.jpg" data-lightbox="wedding"><img src="images/main/wedding_photo/Img_Bike.jpg" alt="Img_Bike"></a>
                    </div>
                    <div class="col-8 mb-4">
                        <a href="images/main/wedding_photo/Img_Girl_Pillow.jpg" data-lightbox="wedding"><img src="images/main/wedding_photo/Img_Girl_Pillow.jpg" alt="Girl_Pillow"></a>
                    </div>
                    <div class="col-8 mb-4">
                        <a href="images/main/wedding_photo/Img_Girl_Shades.jpg" data-lightbox="wedding"><img src="images/main/wedding_photo/Img_Girl_Shades.jpg" alt="Girl_Shades"></a>
                    </div>
                    <div class="col-4 mb-4">
                        <a href="images/main/wedding_photo/Img_Cup_Tea.jpg" data-lightbox="wedding"><img src="images/main/wedding_photo/Img_Cup_Tea.jpg" alt="Cup_Tea"></a>
                    </div>
                </div>
                <a href="gallery.html"><span class="link_text">see all</span></a>
            </div>
        </section>
        <section class="wedding_form" id="rsvp">
            <div class="container-xl">
                <p class="data_text text-center mb-0">RSVP</p>
                <h2 class="title_section _fl text-center title_marg_form">Will you attend wedding</h2>
                <div class="wedding_form_block col-12 col-md-8">
                    <form action="" class="form_text">
                        <div class="mb-3">
                            <label for="name" class="form-label m-0">Your name</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <p class="form_text m-0">Will you attend?</p>
                        <div class="form-check m-0">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="yes" checked>
                            <label class="form-check-label" for="yes">
                              Yes, I will be there
                            </label>
                          </div>
                          <div class="form-check mb-3">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="no">
                            <label class="form-check-label" for="no">
                              Sorry, I can't come
                            </label>
                        </div>
                        <div class="mb-3">
                            <label for="mail" class="form-label m-0">Email address</label>
                            <input type="email" class="form-control" id="mail">
                        </div>
                        <div class="mb-3">
                            <label for="number" class="form-label m-0">Number of guests</label>
                            <input type="number" class="form-control" id="number">
                        </div>
                        <div class="mb-3">
                            <label for="notes" class="form-label m-0">Notes</label>
                            <textarea class="form-control" id="notes" rows="3"></textarea>
                        </div>
                        <div class="btn_form text-center">
                            <img src="images/main/flower_btn.svg" alt="flower">
                            <button type="button" class="btn btn-primary _mod">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer ind_top_mod int_footer">
        <div class="container-xl">
            <div class="footer_block d-flex align-items-center row">
                <div class="footer_img col-12 col-lg-8">
                    <img src="images/footer/Photo_rectangle.jpg" alt="Photo_rectangle">
                </div>
                <div class="footer_list col-12 col-lg-4">
                    <ul class="list">
                        <li class="list_text mb-3"><a href="index.html">Home</a></li>
                        <li class="list_text mb-3"><a href="#about">About</a></li>
                        <li class="list_text mb-3"><a href="#when_where">When & Where</a></li>
                        <li class="list_text mb-3"><a href="">Wishlist</a></li>
                        <li class="list_text mb-3"><a href="index.html#gallery">Gallery</a></li>
                        <li class="list_text"><a href="#rsvp">RSVP</a></li>
                    </ul>
                    <div class="footer_link">
                        <a href=""><img src="images/footer/facebook.svg" alt="facebook"></a>
                        <a href=""><img src="images/footer/twitter.svg" alt="twitter"></a>
                        <a href=""><img src="images/footer/linkedin.svg" alt="linkedin"></a>
                        <a href=""><img src="images/footer/youtube.svg" alt="youtube"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="js/countdownJS-master/countdown.js"></script>
    <script type="text/javascript" src="js/countdownJS-master/init.js"></script>
    <script src="js/lightbox2-2.11.3/dist/js/lightbox-plus-jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>